<div id="editJoint">
    <div class="scroll-container">
      <div id="body" [class.disabled-panel]="getJointLockState()">


        <!-- JOINT PANEL HEADER -->
        <panel-section-collapsible>
          <!-- Title block with inline editing, edit and delete buttons -->
          <title-block description='' class = "editHeader" (click)="onTitleBlockClick($event)"
          >Edit Joint
            <ng-container *ngIf="isEditingTitle; else jointNameDisplay">
              <input #jointNameInput [(ngModel)]="getCurrentJoint().name" (blur)="setJointName(jointNameInput.value)" (keyup.enter)="setJointName(jointNameInput.value)"/>
            </ng-container>
            <ng-template #jointNameDisplay>
              {{ getJointName() }}
            </ng-template>
            <!-- Edit button -->
            <button (click)="isEditingTitle=true">
              <img ngSrc='assets/icons/edit.svg' style="height: 16px; width: 16px;" alt="" height="48" width="48"/>
            </button>
            <!-- Delete button -->
            <button (click)="deleteJoint()">
              <img ngSrc='assets/icons/trash.svg' style="height: 16px; width: 16px;" alt="" height="18" width="15"/>
            </button>
          </title-block>
          <p class="subtitle">This is where you edit joints. Change things such as the position.</p>
        </panel-section-collapsible>

        <!-- BASIC SETTING DROPDOWN -->
        <collapsible-subsection
          titleLabel="Basic Settings"
          [expanded]="graphExpanded['basicBasic']"
          (opened)="graphExpanded['basicBasic'] = true"
          (closed)="graphExpanded['basicBasic'] = false"
          >
          <div id="jointPositions" class="xy-block">
            <label class="xy-label">Input X and Y positions</label>
            <div class="xy-row">
              <!-- X position input -->
              <div class="xy-cell">
                <label>X</label>
                <input
                  type="number"
                  [value]="pendingX ?? getJointXCoord()"
                  (input)="pendingX = $any($event.target).valueAsNumber"
                  (keydown.enter)="confirmJointX()"
                  [disabled]="getJointLockState()"
                />
                <span class="xy-unit">{{ units }}</span>
              </div>

              <!-- Y position input -->
              <div class="xy-cell">
                <label>Y</label>
                <input
                  type="number"
                  [value]="pendingY ?? getJointYCoord()"
                  (input)="pendingY = $any($event.target).valueAsNumber"
                  (keydown.enter)="confirmJointY()"
                  [disabled]="getJointLockState()"
                />
                <span class="xy-unit">{{ units }}</span>
              </div>
            </div>
          </div>
        </collapsible-subsection>

        <!-- DYNAMICALLY DISPLAYS CONNECTED JOINTS BASED ON A LIST PROVIDED IN THE TYPESCRIPT -->
        <collapsible-subsection titleLabel='Distance to Joint' [expanded]="graphExpanded['distance']"
                                (opened)="graphExpanded['distance'] = true"
                                (closed)="graphExpanded['distance'] = false">


          <div id="connectedJoints">
            <div id="container">
              <div *ngFor="let joint of getConnectedJoints()">
                <ng-container *ngIf="getCurrentJoint().name !== joint.name">
                  <div class="distance-angle-block">
                    <!-- LABEL -->
                    <div class="dar-label">
                      Joint {{ getCurrentJoint().name }} to Joint {{ joint.name }}
                    </div>

                    <!-- Then the row of inputs -->
                    <div class="distance-angle-row">
                      <div class="dar-cell">
                        <!-- distance input -->
                        <img ngSrc="assets/icons/length.svg" class="dar-icon" height="15" width="12" alt=""/>
                        <input
                          type="number"
                          [value]="getJointDistance(joint)"
                          (change)="changeJointDistance(joint.id,$any($event.target).valueAsNumber)"
                          [disabled]="joint.locked"
                        />
                        <span class="dar-unit">{{ units }}</span>
                      </div>

                      <div class="dar-cell">
                        <!-- angle input -->
                        <img ngSrc="assets/icons/angle.svg" class="dar-icon" height="10" width="10" alt=""/>
                        <input
                          type="number"
                          [ngModel]="getJointAngle(joint)"
                          (keydown.enter)="onAngleEnter(joint.id,$any($event.target).value)"
                          [disabled]="joint.locked"
                        />
                        <span class="dar-unit">{{ angles }}</span>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </collapsible-subsection>


        <!-- ADVANCED SETTING DROPDOWN -->
        <collapsible-subsection titleLabel='Advanced Settings' [expanded]="graphExpanded['advancedSettingsBasic'] || this.getCurrentJoint().locked"
                                (opened)="graphExpanded['advancedSettingsBasic'] = true"
                                (closed)="graphExpanded['advancedSettingsBasic'] = false">
          <!-- TOGGLE BLOCK FOR GROUNDING -->
          <app-toggle tooltip="This toggle will ground or remove the ground on the joint"
                      label="Toggle Ground" [initialValue]="false" [iconClass]="'toggle-ground-icon'"
                      (valueChanged)="handleToggleGroundChange($event)"></app-toggle>
          <!-- TOGGLE BLOCK FOR WELDING -->
          <app-toggle *ngIf="canAddWeld()" tooltip="This toggle will weld or unweld the joint"
                      label="Toggle Weld" [initialValue]="false" [iconClass]="'toggle-weld-icon'"
                      (valueChanged)="handleToggleWeldChange($event)"></app-toggle>
          <!-- TOGGLE BLOCK FOR INPUT -->
          <app-toggle *ngIf="canAddInput()" tooltip="This toggle will make the joint an input or remove the input"
                      label="Toggle Input" [initialValue]="true" [iconClass]="'toggle-input-icon'"
                      (valueChanged)="handleToggleInputChange($event)"></app-toggle>


        </collapsible-subsection>
      </div>
    </div>
</div>
