<svg:g appInteractable xmlns:svg="s" [interactor]="getInteractor()">

  <path [attr.d]="getDrawnPath()" [attr.fill]="getColor()" [attr.fill-opacity]=0.7 [attr.stroke]="getStrokeColor()"
    [attr.stroke-width]=7></path>
  <image *ngIf="getLocked()" xlink:href='../../../assets/icons/lock.svg' [attr.x]="getLockPositionX()-27.5" [attr.y]="getLockPositionY()-27.5" [attr.width]="55" [attr.height]="55"></image>
  @if(isHovered() || isSelected()) {
    <path [attr.d]="getLengthSVG()" stroke="black" stroke-width="7"></path>
    <text class="link-name" [attr.x]="getCOMX()" [attr.y]="getMaxY() - 65" alignment-baseline="middle" text-anchor="middle">{{getLength()}}</text>
    <path [attr.d]="getAngleSVG()" stroke="black" stroke-width="5" fill="transparent"></path>
    @if(this.link.angle >= 90){<text class="link-name" [attr.x]="this.link.getJoints()[0].coords.x + 25" [attr.y]="this.link.getJoints()[0].coords.y - 25" alignment-baseline="middle" text-anchor="middle">{{getAngle()}}</text>}
    @else {<text class="link-name" [attr.x]="this.link.getJoints()[0].coords.x" [attr.y]="this.link.getJoints()[0].coords.y" alignment-baseline="middle" text-anchor="middle">{{getAngle()}}</text>}
  <!-- Link Name -->
  <text class="link-name" [attr.x]="getCOMX()" [attr.y]="getLowestY()" alignment-baseline="middle"
    text-anchor="middle">
      <tspan [attr.x]="getCOMX()" dy="1.5em">{{this.link.name}}</tspan>
  </text>
  }

</svg:g>
