<svg:g appInteractable xmlns:svg="s" [interactor]="getInteractor()">
  <path
    [attr.d]="getDrawnPath()"
    [attr.fill]="getColor()"
    [attr.fill-opacity]="0.7"
    [attr.stroke]="getStrokeColor()"
    [attr.stroke-width]="7"
  ></path>
  <image
    *ngIf="getLocked()"
    xlink:href="../../../assets/icons/lock.svg"
    [attr.x]="getLockPositionX() - 27.5"
    [attr.y]="getLockPositionY() - 27.5"
    [attr.width]="55"
    [attr.height]="55"
  ></image>
  @if(isHovered() || isSelected()) {
  <!--Display Length-->
  <path [attr.d]="getLeftLineSVG()" stroke="black" stroke-width="3"></path>
  <path [attr.d]="getRightLineSVG()" stroke="black" stroke-width="3"></path>
  <text
    class="link-name"
    [attr.x]="getMidPointX()"
    [attr.y]="getMidPointY()"
    alignment-baseline="middle"
    text-anchor="middle"
  >
    {{ getLength() }}
  </text>

  <!--Display Angle-->
  <path
    [attr.d]="getAngleSVG()"
    stroke="black"
    stroke-width="3"
    fill="transparent"
    stroke-dasharray="20"
  ></path>

  <!-- First Path: Line from the first joint to the midpoint -->
  <!--    <path [attr.d]="getUpperBoundSVG()" stroke="black" stroke-width="3"></path>-->

  <!-- Curved Path: Arc representing the angle -->
  <path
    [attr.d]="getCurvedPathSVG()"
    stroke="black"
    stroke-width="3"
    fill="transparent"
    ng
  ></path>

  <!-- Second Path: Line from the midpoint to the second joint -->
  <!--    <path [attr.d]="getLowerBoundSVG()" stroke="black" stroke-width="3"></path>-->

  <!-- Angle -->
  <text
    class="link-name"
    [attr.x]="getAngleTextPosX()"
    [attr.y]="getAngleTextPosY()"
    alignment-baseline="middle"
    text-anchor="middle"
  >
    {{ getAngle() }}{{ unitsAngle }}
  </text>

  <!--Display Name-->
  <text
    class="link-name"
    [attr.x]="getCOMX()"
    [attr.y]="getLowestY()"
    alignment-baseline="middle"
    text-anchor="middle"
  >
    <tspan [attr.x]="getCOMX()" dy="1.5em">{{ this.link.name }}</tspan>
  </text>
  } @else if (showIDLabels) {
  <!-- Display Name -->
  <text
    class="link-name"
    [attr.x]="getCOMX()"
    [attr.y]="getCOMY()"
    alignment-baseline="middle"
    text-anchor="middle"
  >
    <tspan [attr.x]="getCOMX()" dy="0.3em">{{ this.link.name }}</tspan>
  </text>
  }
</svg:g>

<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
  <!-- Define an arrow marker -->
  <defs>
    <marker
      id="arrowhead"
      viewBox="0 0 10 10"
      refX="0"
      refY="5"
      markerWidth="6"
      markerHeight="6"
      orient="auto"
    >
      <path d="M0,0 L10,5 L0,10 Z" fill="black" />
    </marker>
  </defs>
</svg>

<!--<svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">-->
<!--  &lt;!&ndash; First Path: Line from the first joint to the midpoint &ndash;&gt;-->
<!--  <path [attr.d]="getFirstLineSVG()" stroke="black" stroke-width="3"></path>-->

<!--  &lt;!&ndash; Second Path: Line from the midpoint to the second joint &ndash;&gt;-->
<!--  <path [attr.d]="getSecondLineSVG()" stroke="black" stroke-width="3"></path>-->

<!--  &lt;!&ndash; Curved Path: Arc representing the angle &ndash;&gt;-->
<!--  <path [attr.d]="getAngleCurveSVG()" stroke="black" stroke-width="3" fill="transparent"></path>-->

<!--  &lt;!&ndash; Angle Text &ndash;&gt;-->
<!--  <text class="link-name" [attr.x]="getAngleTextPosX()" [attr.y]="getAngleTextPosY()" alignment-baseline="middle" text-anchor="middle">-->
<!--    {{getAngle()}}{{unitsAngle}}-->
<!--  </text>-->
<!--</svg>-->
