<div id="linkAnalysisPanel" style="display: flex; flex-direction: column;">
  <!--  LINK PANEL-->
  <!-- TITLE BLOCK: CONTAINS TITLE AND DYNAMIC LINK NAME -->
  <panel-section-collapsible>
    <title-block description='' class = "analysisHeader"
    >Analysis for Link
      {{ getLinkName() }}
    </title-block>

  </panel-section-collapsible>

  <!-- DATA SUMMARY DROPDOWN -->

  <collapsible-subsection titleLabel='Data Summary'>
    <div class="flex-container">

      <!--   Angle   -->
      <analysis-graph-button [dynamicText]="'Angle:'"
                             [explainText]="'Link Angle'"
                             [btn1Action]="toggleGraph.bind(this, GraphType.referenceJointAngle)"
                             [graphText]= "currentGraphType === GraphType.referenceJointAngle ? 'Close Graph' : 'Show Graph'"></analysis-graph-button>

      <p style="margin-left: 10px; margin-top: 1px;">θ: {{getCurrentLink().angle}} rad</p>

      <ng-container *ngIf="currentGraphType === GraphType.referenceJointAngle">
          <div class="modal" (keyup.escape)="closeAnalysisGraph()">
            <app-analysis-graph-block class="large-graph"
                                      [inputXData]="getGraphData().xData"
                                      [inputYData]="getGraphData().yData"
                                      [inputLabels]="getGraphData().timeLabels"
                                      [yAxisLabel]="getGraphTypeName(currentGraphType)">
            </app-analysis-graph-block>
          </div>
      </ng-container>

      <!--   Angular Velocity   -->
      <analysis-graph-button [dynamicText]="'Angular Velocity:'"
                             [explainText]="'Link Angular Velocity'"
                             [btn1Action]="toggleGraph.bind(this, GraphType.referenceJointAngularVelocity)"
                             [graphText]= "currentGraphType === GraphType.referenceJointAngularVelocity ? 'Close Graph' : 'Show Graph'">></analysis-graph-button>

      <p style="margin-left: 10px; margin-top: 1px;">ω: {{ "N/A" }} rad/s</p>
<!--      getCurrentLinkAnalysis()-->
      <ng-container *ngIf="currentGraphType === GraphType.referenceJointAngularVelocity">
          <div class="modal" (keyup.escape)="closeAnalysisGraph()">
            <app-analysis-graph-block class="large-graph"
                                      [inputXData]="getGraphData().xData"
                                      [inputYData]="getGraphData().yData"
                                      [inputLabels]="getGraphData().timeLabels"
                                      [yAxisLabel]="getGraphTypeName(currentGraphType)">
            </app-analysis-graph-block>
          </div>
      </ng-container>

      <!--   Angular Acceleration   -->
      <analysis-graph-button [dynamicText]="'Angular Acceleration:'"
                             [explainText]="'Link Angular Acceleration'"
                             [btn1Action]="toggleGraph.bind(this, GraphType.referenceJointAngularAcceleration)"
                             [graphText]= "currentGraphType === GraphType.referenceJointAngularAcceleration ? 'Close Graph' : 'Show Graph'">></analysis-graph-button>
      <p style="margin-left: 10px; margin-top: 1px;">ω: N/A rad/s<sup>2</sup></p>
      <ng-container *ngIf="currentGraphType === GraphType.referenceJointAngularAcceleration">
          <div class="modal" (keyup.escape)="closeAnalysisGraph()">
            <app-analysis-graph-block class="large-graph"
                                      [inputXData]="getGraphData().xData"
                                      [inputYData]="getGraphData().yData"
                                      [inputLabels]="getGraphData().timeLabels"
                                      [yAxisLabel]="getGraphTypeName(currentGraphType)">
            </app-analysis-graph-block>
          </div>
      </ng-container>

      <!--   Center of Mass Position   -->
      <analysis-graph-button [dynamicText]="'Center of Mass Position:'"
                             [explainText]="'Link Center of Mass Position'"
                             [btn1Action]="toggleGraph.bind(this, GraphType.CoMPosition)"
                             [graphText]= "currentGraphType === GraphType.CoMPosition ? 'Close Graph' : 'Show Graph'">></analysis-graph-button>

      <p style="margin-left: 10px; margin-top: 1px;">X:{{getCOMXCoord()}}, Y: {{getCOMYCoord()}}</p>

      <ng-container *ngIf="currentGraphType === GraphType.CoMPosition">
          <div class="modal" (keyup.escape)="closeAnalysisGraph()">
            <app-analysis-graph-block class="large-graph"
                                      [inputXData]="getGraphData().xData"
                                      [inputYData]="getGraphData().yData"
                                      [inputLabels]="getGraphData().timeLabels"
                                      [yAxisLabel]="getGraphTypeName(currentGraphType)+ ' (' + this.currentGlobalUSuffix + ')'">
            </app-analysis-graph-block>
          </div>
      </ng-container>

      <!--   Center of Mass Velocity   -->
      <analysis-graph-button [dynamicText]="'Center of Mass Velocity:'"
                             [explainText]="'Link Center of Mass Velocity'"
                             [btn1Action]="toggleGraph.bind(this, GraphType.CoMVelocity)"
                             [graphText]= "currentGraphType === GraphType.CoMVelocity ? 'Close Graph' : 'Show Graph'">></analysis-graph-button>

      <p style="margin-left: 10px; margin-top: 1px;">V<sub>x</sub>: N/A cm/s, Y<sub>x</sub>: N/A cm/s</p>

      <ng-container *ngIf="currentGraphType === GraphType.CoMVelocity">
          <div class="modal" (keyup.escape)="closeAnalysisGraph()">
            <app-analysis-graph-block class="large-graph"
                                      [inputXData]="getGraphData().xData"
                                      [inputYData]="getGraphData().yData"
                                      [inputLabels]="getGraphData().timeLabels"
                                      [yAxisLabel]="getGraphTypeName(currentGraphType)">
            </app-analysis-graph-block>
          </div>
      </ng-container>

      <!--   Center of Mass Acceleration   -->
      <analysis-graph-button [dynamicText]="'Center of Mass Acceleration:'"
                             [explainText]="'Link Center of Mass Acceleration'"
                             [btn1Action]="toggleGraph.bind(this, GraphType.CoMAcceleration)"
                             [graphText]= "currentGraphType === GraphType.CoMAcceleration ? 'Close Graph' : 'Show Graph'">></analysis-graph-button>

      <p style="margin-left: 10px; margin-top: 1px;">V<sub>x</sub>: N/A cm/s<sup>2</sup>, Y<sub>x</sub>: N/A cm/s<sup>2</sup></p>

      <ng-container *ngIf="currentGraphType === GraphType.CoMAcceleration">
          <div class="modal" (keyup.escape)="closeAnalysisGraph()">
            <app-analysis-graph-block class="large-graph"
                                      [inputXData]="getGraphData().xData"
                                      [inputYData]="getGraphData().yData"
                                      [inputLabels]="getGraphData().timeLabels"
                                      [yAxisLabel]="getGraphTypeName(currentGraphType)">
            </app-analysis-graph-block>
          </div>
      </ng-container>



    </div>
  </collapsible-subsection>
  <collapsible-subsection titleLabel='Save Data'>
    <table class="table-auto border-collapse border w-full text-left">
      <thead>
      <tr class="bg-gray-200">
        <td class="border px-4 py-2">Parameter</td>
        <td class="border px-4 py-2">Joints</td>
        <td class="border px-4 py-2">Links</td>
        <td class="border px-4 py-2"></td>
      </tr>
      </thead>
      <tbody>
      <tr class="hover:bg-gray-100">
        <td class="border px-4 py-2">Position</td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border px-4 py-2">Velocity</td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border px-4 py-2">Acceleration</td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border px-4 py-2">Forces/Torque</td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
        <td class="border px-4 py-2"></td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border px-4 py-2">Stress</td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border px-4 py-2">Instant Centers</td>
        <td class="border px-4 py-2"></td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
        <td class="border px-4 py-2"></td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border px-4 py-2">Three Position Synthesis</td>
        <td class="border px-4 py-2"></td>
        <td class="border px-4 py-2"></td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr class="hover:bg-gray-100">
        <td class="border px-4 py-2">Path Synthesis</td>
        <td class="border px-4 py-2"></td>
        <td class="border px-4 py-2"></td>
        <td class="border px-4 py-2 text-center">
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
    </table>
    <button (click)="downloadCSV()" class="download-btn">Download CSV</button>
  </collapsible-subsection>


</div>

