<div class="app-edit-panel-container" style="width: 258px; margin-top: 63px;">
  @switch (getSelectedObjectType())
  {
    @case('JointInteractor')
    {
      <app-joint-edit-panel></app-joint-edit-panel>
    }
    @case('LinkInteractor')
    {
      <app-link-edit-panel></app-link-edit-panel>
    }
    @case('CompoundLinkInteractor')
    {
      <app-compound-link-edit-panel></app-compound-link-edit-panel>
    }
    @case('ForceInteractor')
    {
      <p>Force Selected</p>
    }

    <!-- DEFAULT PLACEHOLDER VIEW (NOTHING SELECTED) -->
    @default
    {
      <div id="default-view">
        <panel-section-collapsible
          [warning]='true'
          [expanded]='false'
          id='placeholderContainer'
        >
          <!-- Instructional header shown when nothing is selected -->
          <title-block class="header"
            alwaysShown
            icon='expand_more'
            description='Right click on the grid to create a link. Please select a joint or a link to start editing!'
          ><div style="margin-right: 7em;">Edit</div>
          </title-block>
<!--        <title-block class="header" icon='expand_more'>Edit Panel</title-block>-->
<!--        <p class="subtitle">Please select a joint or a link to start editing!</p>-->
<!--        <p class="subtitle">Right click on the screen to begin!</p>-->
          <img style="width: 258px; margin-bottom: -3px" src="https://app.pmksplus.com/assets/gifs/Create.gif" alt="">
        </panel-section-collapsible>
      </div>
    }
  }
</div>

