.alert {
  padding: 15px;
  margin-bottom: 5rem;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 1000;
  font-family: Roboto, "Helvetica Neue", serif;
}

.alert-info {
  color: #000;
  background-color: #c5cae9;
  border-color: #bee5eb;
}

.btn-close {
  float: right;
  font-size: 20px;
  cursor: pointer;
  color: #000;
  opacity: 0.9;
  background-color: #e8eaf6;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    opacity: 0.5;
   
  }
}