#tri-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    .selected {
      background-color: #5C6BC0; /* Active button background */
      color: white; /* Active button text color */
    }

    button {
      height: 36px;
      flex-grow: 1;
      background-color: transparent;
      color: #5C6BC0;

      &.selected {
        background-color: #5C6BC0;
        color: white;
      }

      &:disabled {
        background-color: #e0e0e0;
        color: #a0a0a0;
      }
    }
  }
}
