<div class='row' id='tri-button'>
  <div class='buttons'>
    <button
      *ngIf="btn1Visible"
      mat-stroked-button
      color='primary'
      type="button"
      [class.selected]="btn1Active"
      [attr.disabled]="btn1Disabled ? '' : null"
      (click)="onBtn1Click()"
      style="padding-left: 5px; padding-right: 5px;">
      <div class="alignVertical">
        <span style="font-size: 12px">{{btn1Text}}</span>
      </div>
    </button>
    <button
      *ngIf="btn2Visible"
      mat-stroked-button
      color='primary'
      type="button"
      [class.selected]="btn2Active"
      [attr.disabled]="btn2Disabled ? '' : null"
      (click)="onBtn2Click()"
      style="padding-left: 5px; padding-right: 5px;">
      <div class="alignVertical">
        <span style="font-size: 12px">{{btn2Text}}</span>
      </div>
    </button>
    <button
      *ngIf="btn3Visible"
      mat-stroked-button
      color='primary'
      type="button"
      [class.selected]="btn3Active"
      [attr.disabled]="btn3Disabled ? '' : null"
      (click)="onBtn3Click()">
      <div class="alignVertical">
        <span style="font-size: 12px">{{btn3Text}}</span>
      </div>
    </button>
  </div>
</div>
