
<mat-toolbar class='toolbar'>
  <img
    class='pmksImage'
    alt='PMKS+'
    src='assets/logo.svg'
    onClick='window.location.reload()'
  />
  <!-- NEW FILE -->
  <button mat-button class="toolbar-button" onclick="window.open(window.location.origin, '_blank'); logEvent(this.analytics, 'new_file');"
          matTooltip='Open a new tab with a blank project'
          matTooltipShowDelay='1000'>
    <mat-icon>note_add</mat-icon>
    <span class="button-text">New</span>
  </button>

  <!-- OPEN FILE -->
  <button mat-button class="toolbar-button" (click)="handleLoadFile();"
          matTooltip='Open a linkage from a file on your device'
          matTooltipShowDelay='1000'>
    <mat-icon>file_open</mat-icon>
    <span class="button-text">Open</span>
  </button>

  <!-- TUTORIALS -->
  <button mat-button class="toolbar-button" (click)="setCurrentTab('Tutorials');"
          matTooltip='Show the library of available linkages'
          matTooltipShowDelay='1000'>
    <mat-icon>ondemand_video</mat-icon>
    <a style="text-decoration:none; color:black;" href="https://pmks.mech.website/pmks-web-how-to-videos/" target="_blank"><span class="button-text">Tutorials</span></a>
  </button>

  <!-- TEMPLATES -->
  <button mat-button class="toolbar-button" (click)="setCurrentTab('Templates');"
          matTooltip='Show the library of available linkages'
          matTooltipShowDelay='1000'>
    <mat-icon>apps</mat-icon>
    <span class="button-text">Templates</span>
  </button>

  <!-- SAVE -->
  <button mat-button class="toolbar-button" (click)="handleSave();"
          matTooltip='Save this linkage to your device'
          matTooltipShowDelay='1000'>
    <mat-icon>save</mat-icon>
    <span class="button-text">Save</span>
  </button>

  <!-- SHARE -->
  <button mat-button class="toolbar-button" (click)="handleShare();"
          matTooltip='Copy a URL to clipboard that contains your linakge'
          matTooltipShowDelay='1000'>
    <mat-icon>link</mat-icon>
    <span class="button-text">Share Project</span>
  </button>

  <span class="spacer"></span>

  <!-- UNDO/REDO PANEL -->
  <app-undo-redo-panel></app-undo-redo-panel>

  <!-- SETTINGS -->
  <button mat-button class="toolbar-button" (click)="setCurrentTab('Settings');"
          matTooltip='Change Linkage Settings'
          matTooltipShowDelay='1000'>
    <mat-icon>settings</mat-icon>
    <span class="button-text">Settings</span>
  </button>

  <!-- FEEDBACK -->
  <button mat-button class="toolbar-button" (click)="setCurrentTab('Feedback');"
          matTooltip='Send Us Feedback'
          matTooltipShowDelay='1000'>
    <mat-icon>feedback</mat-icon>
    <span class="button-text">Feedback</span>
  </button>


</mat-toolbar>
<div>
  <!-- this switch case is responsible for opening and closing each panel -->
  @switch(getSelected()){
    @case (''){
    }
    @case ('Settings'){
      <app-settings-panel></app-settings-panel>
    }
    @case ('Templates'){
      <app-templates-panel></app-templates-panel>
    }
    @case ('Tutorials'){
      <app-tutorials-panel></app-tutorials-panel>
    }
    @case ('Save'){

    }
    @case ('Feedback'){
      <app-feedback-panel [open]="true"></app-feedback-panel>

    }
    @case ('Share'){

    }
  }
</div>

<app-new-tab-alert/>
