@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
}
.toggle-container {
  display: flex;
  align-items: center;
  width: 100%; /* Make the container take full width */
  margin-top: 5px;
  margin-bottom: 5px;
}

.label {
  flex-grow: 0.05;
  margin-left: 5px;
  margin-bottom: 0px;
  font-size: 16px;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 15px;
  right: 25px;
  }

.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align the toggle slider to the right */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  margin-right: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  background-color: #3f51b5;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgba(63, 81, 181, 0.8);
}

input:focus + .slider {
  box-shadow: 0 0 1px #3f51b5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px); /* Updated value for the checked state */
  -ms-transform: translateX(20px);
 // transform: translateX(23px);
  display: flex;
  align-items: center;
  justify-content: center;
  //transform: translateY(-5px);

}


.mat-icon {
  color: #3f51b5;
  font-size: 18px;
  vertical-align: middle;
  padding-top: 2px;
}

.switch .check {
  position: absolute;
  top: 50%;
  right: -5px; /* Adjust this value according to your design */
  transform: translateY(-50%);
  transition: .4s;
}

.tick,
.cross {
  position: absolute;
  top: 1px;
  font-size: 18px;
  color: white;
  transition: .4s;
  transform: translateY(-5px);
}

.tick {
  transform: translate(20px, -5px);
  opacity: 0;
}

input:checked+.slider+.tick {
  opacity: 1;
  color: white;
}

.cross {
  opacity: 0;
  transform: translate(-1.75px, -5px);
}

input:not(:checked) ~ .cross {
  color: white;
  opacity: 1;
}

input:not(:checked) ~ .slider:before{
  background-color: #4e4d4d;
}

input:hover + .slider:before{
  scale: 1.4;
}
input:hover ~ .cross{
  scale: 1.4;
}
input:hover ~ .tick{
  scale: 1.4;
}
