@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.m2-get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.m2-get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);


  #normalPanel {
    pointer-events: all;
    @include mat.elevation(4);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    //gap: 10px;
    background-color: mat.m2-get-color-from-palette($background, 'background');
    border-top: 5px solid mat.m2-get-color-from-palette($primary-palette, 500);
    //padding: 20px;

    * {
      width: 100%;
    }
  }
}

canvas{
  width: 200px;
  height: fit-content;
}

.button-group {
  display: flex;
  gap: 10px; // spacing between buttons
  justify-content: center; // optional: center them horizontally
}

button{
  display: block;
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 600;
  color: #2c52cb;
  background-color: transparent;
  border: 2px solid #2c52cb;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  margin-top: 10px;

  &:hover {
    background-color: #2c52cb;
    color: white;
  }
}


