<svg id="rootSvg" appInteractable
     [interactor]="getInteractor()"
     [attr.viewBox]="getViewBox()"
     (mousemove)="onMouseMove($event)">
    <g gridlines />
    <g app-graph />

</svg>

<app-context-menu></app-context-menu>

<div id='bottomBar' *ngIf="invalidMechanism()">
  <ul>
    <li id="DoF1">Degrees of Freedom: {{ getDegrees() }}</li>
    <li>Position: {{cursorPosition}}</li>
    <li>Units: {{units}}, {{angles}}</li>
    <li>PMKS Refactor Version 1</li>
  </ul>
</div>

<div id='bottomBar' *ngIf="!invalidMechanism()">
  <ul>
    <li id="DoF2">Degrees of Freedom: 1</li>
    <li>Position:{{cursorPosition}}</li>
    <li>Units: {{units}}, {{angles}}</li>
    <li>PMKS Refactor Version 1</li>
  </ul>
</div>
