<svg id="rootSvg" appInteractable
     [interactor]="getInteractor()"
     [attr.viewBox]="getViewBox()"
     (mousemove)="onMouseMove($event)">
    <g gridlines />
    <g app-graph />

</svg>

<app-context-menu></app-context-menu>

<div id='bottomBar' *ngIf="invalidMechanism()">
  <ul>
    <li id="DoF1"><span style="font-weight:550">Degrees of Freedom:</span> {{ getDegrees() }}</li>
    <li><span style="font-weight:550">Pointer Location:</span> {{cursorPosition}}</li>
    <li><span style="font-weight:550">Units:</span> {{units}}, {{angles}}</li>
    <li>PMKS Refactor Version 1</li>
    <li><button (click)="swapInputAndGround()">Swap Input and Ground</button></li>
  </ul>
</div>

<div id='bottomBar' *ngIf="!invalidMechanism()">
  <ul>
    <li id="DoF2"><span style="font-weight:550">Degrees of Freedom:</span> 1</li>
    <li><span style="font-weight:550">Position:</span>{{cursorPosition}}</li>
    <li><span style="font-weight:550">Units:</span> {{units}}, {{angles}}</li>
    <li>PMKS Refactor Version 1</li>
    <li><button (click)="swapInputAndGround()">Swap Input and Ground</button></li>
  </ul>
</div>
