@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.m2-get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.m2-get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  margin: 1px;
}
.block-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //border: 1px solid #ccc;
  padding: 2px;
  //margin: 10px;
}

.label-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.label-help {
  color: #3f51b5;
  font-size: 18px;
  vertical-align: middle;
  margin-top: 5px;
  flex-shrink: 0;
  margin-left: 5px; 
}

.button-container {
  display: flex;
  align-items: center;
}

button {
  color:  #3F51B5;
  background-color: #e8eaf6;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  border-color: transparent;
}
button:hover{
  background-color: #3f51b5;
  color: white;
}


