@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.m2-get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.m2-get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  margin: 1px;
}
.block-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //border: 1px solid #ccc;
  padding: 2px;
  //margin: 10px;
}

.label-container {
  display: flex;
  align-items: center;
}


.button-container {
  display: flex;
  align-items: center;
}

button {
  color:  #3F51B5;
  background-color: #e8eaf6;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  border-color: transparent;
}
button:hover{
  background-color: #3f51b5;
  color: white;
}

.question-icon {
  font-size: 18px;
  color: gray;
  cursor: pointer;
  position: relative; /* Position relative for tooltip positioning */
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Tooltip text */
.question-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 25px; /* Position it above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #b7b7b7;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  visibility: hidden; /* Initially hidden */
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap; /* Ensure the text doesn't wrap */
  border-radius: 8px;

}

/* Show the tooltip when hovering */
.question-icon:hover::after {
  visibility: visible;
  opacity: 1; /* Make it visible on hover */
}
