<!-- This is the panel for three position synthesis -->
<div id="threePos">



  <div class="scroll-container" >
<!--  <div *ngIf="panelVisible">-->

    <p class="synthesis-description">Define 3 specific coupler positions to synthesize a linkage.</p>

    <div class="toggle-container">
      <input type="checkbox" id="toggle-switch" (change)="toggleOption(toggle.checked ? 'two-points' : 'xy-angle')" #toggle>
      <label for="toggle-switch" class="toggle-label">
        <span class="toggle-text toggle-left">Length & Angle</span>
        <span class="toggle-text toggle-right">End Points</span>
        <span class="toggle-indicator"></span>
      </label>
    </div>

    <!-- XY + ANGLE MODE -->
    <div *ngIf="selectedOption === 'xy-angle'">

           <div style="margin-bottom:15px;">
            <!-- Each coupler position has the same length which is set here -->
            <p class="subtitle" style="color:#757575;">
              Automatically create a four-bar linkage based on 3 coupler poses.</p>

             <div class="coupler-specifications-container">
             <p class="coupler-title" style="margin: 15px 10px -3px;">Coupler Link Specifications</p>
               <div class="coupler-block">
                  <div class="input-container">
<!--                     Length Image-->
                      <img ngSrc="assets/icons/length.svg" alt="length icon" class="icon" height="15" width="12">
                    <!--                     Length label-->
                      <span style="flex: 0 0 auto; margin-right: 5px;">Length</span>
                    <!--                     Length tooltip-->
                      <mat-icon id="lengthTooltip"
                        matTooltip="The length of the end-effector link"
                        [matTooltipShowDelay]='1000'
                        class='label-help'
                        [matTooltipDisabled]='disabled'
                        >help_outline
                      </mat-icon>

                    <!-- Lock Icon with Click Handler --> <!--here is where you can hover on the lock sign and the notification will pop up, recent change starting at line 52 -->
                      <img ngSrc="assets/icons/lock.svg"
                           alt="lock icon"
                           class="lock-icon"
                           (click)="toggleLengthLock()"
                           [class.locked]="isLengthLocked"
                           height="24" width="24"
                           matTooltip="Links are locked on the grid, but you can change the length of the coupler links from the input section in the synthesis panel."
                           [matTooltipShowDelay]='1000'
                           class='label-help'
                           [matTooltipDisabled]='disabled'>

                    <!--class="right-aligned" for below-->
                      <single-input-block
                            [input1Value]="2"
                            (input1Change)="setCouplerLength($event)"
                            unit1={{units}}
                            [showIcon]="false"
                            [disabled]="this.fourBarGenerated || this.sixBarGenerated">
                      </single-input-block>



                  </div>


            <!-- The fixed reference is the center of rotation and you set that with the radio block -->
                  <div class="fixed-reference">
                      <img ngSrc='assets/icons/referencePoint.svg' style="height: 12.5px; width: 12.5px; display: inline-block; align-items: center; margin-left: 0;"
                           height="14" width="14" alt=""/>
                      <p  class="fixedReference-title"style="display:inline-block; margin-bottom:0;">Fixed Reference</p>

                      <mat-icon id="fixedReferenceTooltip"
                        matTooltip="The center of rotation of the end-effector link, and what the position coordinate represents" [matTooltipShowDelay]='1000'
                        class='label-help'
                        [matTooltipDisabled]='disabled'
                      >help_outline
                      </mat-icon>
                      <radio-block  id="reference" style="font-size:12px !important;"
                        [options]="['Back', 'Center', 'Front']"
                        [initialSelection]="reference"
                        (selectionChanged)="setReference($event)">
                      </radio-block>
                  </div>
               </div>

               <div class="position-section">
                   <div *ngFor='let i of [1,2,3]' class="position-container">

                   <!-- displays each position label, if the position is specified/defined, then the trash icon appears -->

                   <div class="position-header">
                        <p style="display:block; margin-right: auto;margin-left: 8px; margin-bottom: 0;text-align: left !important;">Position {{i}}</p>

                        <span class="icons">
                        <mat-icon id="tooltip1" matTooltip="Change the x and y values of the reference point of the coupler position {{i}}" [matTooltipShowDelay]='1000'
                        [matTooltipDisabled]='disabled'
                        >help_outline
                        </mat-icon>
                        <button class="trash" *ngIf='this.isPositionDefined(i)' (click)="this.deletePosition(i)">
                              <img id="icon" ngSrc='assets/icons/trash.svg' height="18" width="15" alt=""/>
                        </button>
                        </span>
                  </div>

                  <!-- allows the user to enter coordinates and an angle for the position -->
                  <div class='poseData'   *ngIf='this.isPositionDefined(i)'>
                        <dual-input-block
                        [input1Value]="getPosXCoord(i)"
                        [input2Value]="getPosYCoord(i)"
                        (input1Change)="setPosXCoord($event, i)"
                        (input2Change)="setPosYCoord($event, i)"
                        tooltip="Change the x and y values of the reference point of the coupler position {{i}}"
                        label1="X"
                        label2="Y"
                        unit1={{units}}
                        unit2={{units}}
                        [showIcon]="false"
                        [disabled]="this.isFourBarGenerated()|| this.isSixBarGenerated()">
                  </dual-input-block>

                  <single-input-block
                        [input1Value]="getPosAngle(i)"
                        (input1Change)="setPositionAngle($event, i)"
                        iconLabel1="assets/icons/angle.svg"
                        unit1={{angles}}
                        [showIcon]="false"
                        [disabled]="this.isFourBarGenerated() || this.isSixBarGenerated()">
                  </single-input-block>
                  </div>

      <!-- if position has not yet been created and its the first undefined position, show "create position" button  -->
         <div class='positionCreate' *ngIf='this.getFirstUndefinedPosition() === i'>
            <button id="specify" (click)="this.specifyPosition(i)">Specify Position</button>
        </div>
   </div>

 </div>
             </div>
             <!-- If all positions are defined you can then generate a four bar or delete all positions-->

             <button *ngIf='!this.allPositionsDefined() && !isFourBarGenerated()' class="generateFourBarGrey">Generate Four-Bar</button>

               <!-- Place Generate Four-Bar first -->
             <button
               *ngIf="this.allPositionsDefined() || isFourBarGenerated()"
               [class.generateFourBarGrey]="isSixBarGenerated()"
               [class.generateFourBar]="!isSixBarGenerated()"
               [disabled]="isSixBarGenerated()"
               (click)="generateFourBar()">
               {{ fourBarGenerated ? 'Clear Four-Bar' : 'Generate Four-Bar' }}
             </button>
             <div *ngIf="pos1Specified || pos2Specified || pos3Specified">
             <button class="removeAll" (click)="removeAllPositions()">
               {{ confirmRemoveAll ? 'Are You Sure?' : 'Remove All Positions' }}
             </button>
             </div>

               <!-- Generate Six-Bar Button -->
             <div *ngIf="isFourBarGenerated()">
               <button class="generateSixBar" (click)="generateSixBar()">
                   {{ sixBarGenerated ? 'Clear Six-Bar addition' : 'Generate Six-Bar addition' }}
               </button>
             </div>

               <div *ngIf="isFourBarGenerated()">
                 <div *ngIf="recalcNeeded">
                   <button class="recalc" (click)="verifyMechanismPath()">
                     Evaluate Positions
                   </button>
                 </div>
                 <div *ngIf="!recalcNeeded">
                   <button class="recalcGray">
                     Evaluate Positions
                   </button>
                 </div>
                 <div>
                   <button class="inputSwap" (click)="swapInputAndGround()">
                     Swap Input & Ground
                   </button>
                 </div>
               </div>
           </div>
  </div>


    <!------------------------------ New Panel Design for End Points  ------------------------------------>
      <div *ngIf="selectedOption === 'two-points'">

        <p class="subtitle">Automatically create a four-bar linkage based on the X and Y coordinate values for positions.</p>

        <div class="position-section">
        <!-- Loop for three positions -->
        <div *ngFor="let index of [1,2,3]" class="position-container">
          <div class="position-header">
            <p>Position {{ index}}</p>
            <span class="icons">
              <mat-icon id="tooltip2" matTooltip="Specify the coordinates for Position {{ index}}" [matTooltipShowDelay]="1000">help_outline</mat-icon>
              <button class="trash" *ngIf='this.isPositionDefined(index)' (click)="deletePosition(index)">
                <img id="icon" ngSrc="assets/icons/trash.svg" alt="Delete Position" height="18" width="15">
              </button>
            </span>
          </div>

          <!-- allows the user to enter coordinates for the end points -->
          <div class='poseData' *ngIf='this.isPositionDefined(index)'>

            <dual-input-block
              [input1Value]="getEndPointXCoords(index, 0)"
              [input2Value]="getEndPointYCoords(index, 0)"
              (input1Change)="updateEndPointCoords(index,'x0', $event)"
              (input2Change)="updateEndPointCoords(index,'y0', $event)"
              tooltip="Change the x0 and y0 values of the first end point of the coupler position {{index}}"
              label1="X0"
              label2="Y0"
              unit1={{units}}
              unit2={{units}}
              [showIcon]="false"
              [disabled]="isFourBarGenerated()">

            </dual-input-block>

            <dual-input-block
              [input1Value]="getEndPointXCoords(index, 1)"
              [input2Value]="getEndPointYCoords(index, 1)"
              (input1Change)="updateEndPointCoords(index, 'x1', $event)"
              (input2Change)="updateEndPointCoords(index, 'y1', $event)"
              tooltip="Change the x1 and y1 values of the second end point of the coupler position {{index}}"
              label1="X1"
              label2="Y1"
              unit1={{units}}
              unit2={{units}}
              [showIcon]="false"
              [disabled]="isFourBarGenerated()">
            </dual-input-block>

          </div>

          <!-- If position has not yet been created and it's the first undefined position, show "specify position" button -->
          <div class="positionCreateEndPoints" *ngIf="getFirstUndefinedPosition() === index">
            <button id="specifyEndPoints" (click)="this.specifyPositionEndPoints(index)">Specify Position</button>
          </div>
        </div>
        </div>



        <!-- Action Buttons -->
        <button *ngIf='!this.allPositionsDefined() && !isFourBarGenerated()' class="generateFourBarGrey">Generate Four-Bar</button>

        <!-- Place Generate Four-Bar first -->
        <button
          *ngIf="this.allPositionsDefined() || isFourBarGenerated()"
          [class.generateFourBarGrey]="isSixBarGenerated()"
          [class.generateFourBar]="!isSixBarGenerated()"
          [disabled]="isSixBarGenerated()"
          (click)="generateFourBar()">
          {{ fourBarGenerated ? 'Clear Four-Bar' : 'Generate Four-Bar' }}
        </button>

          <div *ngIf="pos1Specified || pos2Specified || pos3Specified">
            <button class="removeAll" (click)="removeAllPositions()">
              {{ confirmRemoveAll ? 'Are You Sure?' : 'Remove All Positions' }}
           </button>
          </div>


        <!-- Generate Six-Bar Button -->
        <div *ngIf="isFourBarGenerated()">
          <button class="generateSixBar" (click)="generateSixBar()">
            {{ sixBarGenerated ? 'Clear Six-Bar' : 'Generate Six-Bar' }}
          </button>
        </div>

        <div *ngIf="isFourBarGenerated()">
          <div *ngIf="recalcNeeded">
            <button class="recalc" (click)="verifyMechanismPath()">
              Evaluate Positions
            </button>
          </div>
          <div *ngIf="!recalcNeeded">
            <button class="recalcGray">
              Evaluate Positions
            </button>
          </div>
          <div>
            <button class="inputSwap" (click)="swapInputAndGround()">
              Swap Input & Ground
            </button>
          </div>
        </div>
      </div>
      </div>
  </div>


