@use 'sass:map';
@use '@angular/material' as mat;

@mixin css($theme) {
  // Get the color config from the theme.
  $color-config: mat.m2-get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $typography-config: mat.m2-get-typography-config($theme);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);



}

#jointAnalysisPanel {
  background-color: white;
  border-top: 5px solid #ffc107;
  border-radius: 3px;
  box-shadow: 0 9px 5px 0 gray, 0 9px 5px 0 gray, 12px 0 15px -4px gray, -12px 0 15px -4px gray;
  position: absolute;
  top: 125px;
  max-height: calc(100vh - 125px - 80px);
  overflow-y: auto;
  
  width: 320px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: visible;
}

.left-aligned {
  margin-right: auto; /* Pushes this element to the left */
}

.right-aligned {
  margin-left: auto; /* Pushes this element to the right */
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  //justify-content: flex-start; /* Align to the left side of the screen */
  //align-items: center;
}

.modal {
  background: #fff;
  //padding: 20px;
  position: relative;
  height: 380px;
  width: 100%;
  //margin-left: 20px;
  //top: 100px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
}

.large-graph {
  display: flex;
  width: fit-content;
  height: fit-content; /* Set the height to your desired value */
}

#analysis-graph-button{
  //background-color: #007bff;
}

.table-container {
  overflow-x: auto;
}

.table-auto {
  width: 90%;
  border-collapse: collapse;
  border: 2px solid #ddd;
  margin: 5px auto;
  font-family: "Arial", sans-serif;
  font-size: 13px;

  thead {
    background-color: #f8f9fa;
    font-weight: bold;
    text-align: left;
  }

  th, td {
    padding: 6px;
    border: 1px solid #ddd;
  }

  tbody {
    tr {
      transition: background-color 0.2s ease-in-out;

      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: #e2e8f0;
      }
    }
  }
}

.download-btn{
  display: block;
  width: 85%;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 600;
  color: #2c52cb;
  background-color: transparent;
  border: 2px solid #2c52cb;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  margin: 20px;

  &:hover {
    background-color: #2c52cb;
    color: white;
  }
}
