<div class="notification-container">
  <div
    *ngFor="let notification of notifications; trackBy: trackByFn"
    class="notification"
    [class.warning-notification]="notification.type === 'warning'"
    [class.fade-in]="!notification.fadingOut"
    [class.fade-out]="notification.fadingOut">
    <div 
      class="notification-line"
      [class.warning-line]="notification.type === 'warning'"></div>
    <div class="notification-content">
      <div 
        class="notification-icon"
        [class.warning-icon]="notification.type === 'warning'"></div>
      <span class="notification-message">
        <b *ngIf="notification.type === 'warning'">Warning </b>{{ notification.message }}
      </span>
      <button
        class="close-btn"
        (click)="onCloseNotification(notification.id)"
        aria-label="Close notification">
        ×
      </button>
    </div>
  </div>
</div>