<!-- *ngIf= open will make the panel "close" when you open a template but makes it so you have to
double click templates to open again, works for now, will need a better fix later -->
<div *ngIf=open class="focusEffect" (click)="togglePanel($event)">
  <div class="app-templates-panel-container">
    <panel-section-collapsible>
      <title-block description=''>
        <h3><b>Templates</b></h3>
      </title-block>
      <div class="gridLayout">
        <!-- Displays an image of each of the templates with an open button -->
        <div class="template">
          <p><strong>Four-Bar Linkage</strong></p>
          <img src='assets/templates/fourbarNew.gif' class="gifs"/>
          <img src='assets/templates/fourbarNew.png' class="img"/>
          <button mat-raised-button (click)="this.openTemplate('fourbar')"><b>Open</b></button>
        </div>
        <div class="template">
          <p><strong>Watt I Linkage</strong></p>
          <img src='assets/templates/wattNew.gif' class="gifs"/>
          <img src='assets/templates/wattNew.jpg' class="img"/>
          <button mat-raised-button  (click)="this.openTemplate('watt')"><b>Open</b></button>
        </div>
        <div class="template">
          <p><strong>Watt II Linkage</strong></p>
          <img src='assets/templates/watt2New.gif' class="gifs"/>
          <img src='assets/templates/watt2New.jpg' class="img"/>
          <button mat-raised-button (click)="this.openTemplate('watt2')"><b>Open</b></button>
        </div>
        <div class="template">
          <p><strong>Stephenson III Linkage</strong></p>
          <img src='assets/templates/stephNew.gif' class="gifs"/>
          <img  src='assets/templates/stephNew.jpg' class="img" />
          <button mat-raised-button (click)="this.openTemplate('steph3')"><b>Open</b></button>
        </div>
        <div class="template">
          <p><strong>Crank Slider Linkage</strong></p>
          <img src='assets/templates/sliderNew.gif' class="gifs"/>
          <img src='assets/templates/sliderNew.jpg' class="img"/>
          <button mat-raised-button (click)="this.openTemplate('slider');">Open</button>
        </div>
      </div>
    </panel-section-collapsible>
  </div>
</div>
