<div id="editLink">
  <!--  LINK PANEL-->
  <div class="scroll-container">
    <panel-section-collapsible>
      <title-block description='' class="editHeader" (click)="onTitleBlockClick($event)">
        Edit Link
        <!-- edit title input if edit selected -->
        <ng-container *ngIf="isEditingTitle; else linkNameDisplay">
          <input #linkNameInput [(ngModel)]="this.getSelectedObject().name"
                 (blur)="setLinkName(linkNameInput.value)"
                 (keyup.enter)="setLinkName(linkNameInput.value)" />
        </ng-container>
        <!-- link name -->
        <ng-template #linkNameDisplay>
          {{ this.getLinkName() }}
        </ng-template>
        <!-- edit, delete,locking buttons -->
        <!-- edit -->
        <button (click)="this.isEditingTitle=true">
          <img id="edit" src='assets/icons/edit.svg' style="height: 16px; width: 16px;" />
        </button>
        <!-- delete -->
        <button (click)="this.deleteLink()">
          <img id="trash" src='assets/icons/trash.svg' style="height: 16px; width: 16px;" />
        </button>
        <!-- lock -->
        <button (click)="this.lockLink()">
          <ng-container *ngIf="isLocked; else unlockIcon">
            <img src='assets/icons/unlock.svg' style="height: 16px; width: 16px;" />
          </ng-container>
          <ng-template #unlockIcon>
            <img src='assets/icons/lock.svg' style="height: 16px; width: 16px;" />
          </ng-template>
        </button>
      </title-block>
      <p class="subtitle">This is where you edit Links. Change things such as the position.</p>
    </panel-section-collapsible>

    <div id="body" [class.disabled-panel]="isLocked">

      <!-- BASIC SETTING DROPDOWN -->
      <collapsible-subsection [expanded]='true' titleLabel='Basic Settings' [expanded]="sectionExpanded['LBasic']"
                              (opened)="sectionExpanded['LBasic'] = true" (closed)="sectionExpanded['LBasic'] = false">
        <div>
          <!-- Link length and angle input -->
          <div class="length-angle-block">
            <!--Label on its own line -->
            <div class="la-label">Link Length and Angle</div>

            <!--Inputs side-by-side -->
            <div class="length-angle-row">
              <div class="la-cell">
                <img src="assets/icons/length.svg" class="la-icon" alt="length"/>
                <input
                  type="number"
                  [value]="pendingLinkLength ?? getLinkLength()"
                  (input)="pendingLinkLength = $any($event.target).valueAsNumber"
                  (keydown.enter)="confirmLinkLength()"
                  [disabled]="isLocked"
                />
                <span class="la-unit">{{ units }}</span>
              </div>

              <div class="la-cell">
                <img src="assets/icons/angle.svg" class="la-icon" alt="angle"/>
                <input
                  type="number"
                  [value]="pendingLinkAngle ?? getLinkAngle()"
                  (input)="pendingLinkAngle = $any($event.target).valueAsNumber"
                  (keydown.enter)="confirmLinkAngle()"
                  [disabled]="isLocked"
                />

                <span class="la-unit">{{ angles }}</span>
              </div>
            </div>
          </div>

          <!-- tracer and force buttons -->
          <dual-button btn1Text="Add Tracer" btn2Text="Add Force" [btn1Action]="addTracer" [Link]=getSelectedObject() [btn1SVGPath]="addTracerIconPath" [btn2SVGPath]="addForceIconPath"
                       [mechanism]="getMechanism()">
          </dual-button>
        </div>
      </collapsible-subsection>

      <!-- COMPONENTS DROPDOWN -->
      <collapsible-subsection [expanded]='true' titleLabel='Components' [expanded]="sectionExpanded['LComponent']"
                              (opened)="sectionExpanded['LComponent'] = true" (closed)="sectionExpanded['LComponent'] = false">
        <div id="linkComponents">
          <!-- displays a list of all joints and tracers for a link -->
          <!--        <p>Components</p>-->
          <div id="container">
            <div *ngFor="let joint of getLinkComponents()">
              <div class="xy-block">
                <!-- label on its own line -->
                <label class="xy-label">Joint {{ joint.name }}</label>

                <!-- side by side X & Y -->
                <div class="xy-row">
                  <div class="xy-cell">
                    <label>X</label>
                    <input
                      type="number"
                      [value]="pendingCompX[joint.id] ?? roundToThree(joint.coords.x)"
                      (input)="pendingCompX[joint.id] = $any($event.target).valueAsNumber"
                      (keydown.enter)="confirmCompX(joint.id)"
                      [disabled]="isLocked"
                    />
                    <span class="xy-unit">{{ units }}</span>
                  </div>
                  <div class="xy-cell">
                    <label>Y</label>
                    <input
                      type="number"
                      [value]="pendingCompY[joint.id] ?? roundToThree(joint.coords.y)"
                      (input)="pendingCompY[joint.id] = $any($event.target).valueAsNumber"
                      (keydown.enter)="confirmCompY(joint.id)"
                      [disabled]="isLocked"
                    />
                    <span class="xy-unit">{{ units }}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </collapsible-subsection>

      <!-- VISUAL SETTINGS -->
      <collapsible-subsection [expanded]='true' titleLabel='Visual Settings' [expanded]="sectionExpanded['LVisual']"
                              (opened)="sectionExpanded['LVisual'] = true" (closed)="sectionExpanded['LVisual'] = false">
        <!-- changes the color of the link -->
        <div>
          <p class="colors" style="margin-left: 15px;">Link Color:</p>
          <div class="row" style="justify-content: center;">
            <div *ngFor='let color of getColors(); let i=index' class="colors" [style.backgroundColor]='color'
                 (click)='setLinkColor(i)'>
              <!-- Use an *ngIf directive to show a check mark if the color is selected -->
              <mat-icon *ngIf='selectedIndex === i' style="color:white">check</mat-icon>
            </div>
          </div>
        </div>
      </collapsible-subsection>
      <collapsible-subsection [expanded]='true' titleLabel='Mass Settings' [expanded]="sectionExpanded['LMass']"
                              (opened)="sectionExpanded['LMass'] = true" (closed)="sectionExpanded['LMass'] = false">
        <div class="input-container">
          <span class="label" style="margin-left: 11px;">Link Mass</span>
          <mat-icon id="linkMassTooltip"
                    matTooltip="Enter tooltip here" [matTooltipShowDelay]='1000'
                    class='label-help'
          >help_outline
          </mat-icon>
          <single-input-block class="right-aligned" [showIcon]="false" unit1="kg"></single-input-block>
        </div>
        <div class="input-container">
          <span class="label" style="margin-left: 11px;">Link Mass</span>
          <mat-icon id="linkMass2Tooltip"
                    matTooltip="Enter tooltip here" [matTooltipShowDelay]='1000'
                    class='label-help'
          >help_outline
          </mat-icon>
          <single-input-block class="right-aligned" [showIcon]="false"  unit1="kg"></single-input-block>
        </div>
        <dual-input-block
          label1="X" label2="Y"
          unit1="" unit2=""
          tooltip="Enter tooltip here">
          Center of Mass Position
        </dual-input-block>
      </collapsible-subsection>
    </div>
  </div>
</div>
