<div id='barContainer'>
  <div class='animationButtons'>
    <button id='speedButton'
            [disabled]='invalidMechanism()'
            mat-mini-fab
            matTooltip='Change Animation Speed'
            matTooltipShowDelay='500'
            (click)="toggleAnimationSpeed()"

    >
        {{animationSpeed}}x
      </button>

    <button class="animation-button" [disabled]='invalidMechanism()' *ngIf='this.getIsPausedAnimating()' mat-mini-fab color='primary'
            (click)="controlAnimation('play')" matTooltip='Play Animation' matTooltipShowDelay='1000'>
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button class="animation-button" [disabled]='invalidMechanism()' *ngIf='!this.getIsPausedAnimating()' mat-mini-fab color='primary'
            (click)="controlAnimation('pause')" matTooltip='Play Animation' matTooltipShowDelay='1000'>
      <mat-icon>pause</mat-icon>
    </button>
    <button class="animation-button" [disabled]='invalidMechanism()' (click)="controlAnimation('stop')" mat-mini-fab color='warn'
            matTooltip='Play Animation' matTooltipShowDelay='1000'>
      <mat-icon>stop</mat-icon>
    </button>
  </div>
  <div id='animationBar'>
    <div id='timeInputWrapper'>
      <div id='tLabel'>T:</div>
      <form #simpleForm='ngForm'>
        <input
          [disabled]='invalidMechanism()'
          id='animationBar-input'
          name='timestep'
          type='number'
          #field
        />
      </form>
      <span id='secLabel'>sec</span>
    </div>

    <div class="slider-wrapper">
      <mat-slider>
        <input matSliderThumb
               [value]="sliderValue"
               [disabled]="!getIsAnimating()"
               (mousedown)="onSliderDragStart()"
               (mouseup)="onSliderDragEnd()"
               (input)="onSliderInput($event)"
               min="0"
               max="100"
               step="0.1">
      </mat-slider>

      <div class="timeline-marker-container">
        <div
          *ngFor="let marker of timelineMarkers"
          class="timeline-marker"
          [ngClass]="marker.type"
          [style.left.%]="marker.position"
        >
          <!-- Use the rotateRight.svg for clockwise markers -->
          <ng-container *ngIf="marker.type === 'clockwise'">
            <img
              src="assets/icons/rotateRight.svg"
              alt="Clockwise Marker"
              class="marker-svg"
              width="40" height="40" />
          </ng-container>
          <!-- Use the rotateLeft.svg for counterclockwise markers -->
          <ng-container *ngIf="marker.type === 'counterclockwise'">
            <img
              src="assets/icons/rotateLeft.svg"
              alt="Counterclockwise Marker"
              class="marker-svg"
              width="40" height="40" />
          </ng-container>
        </div>
      </div>


    </div>


  </div>
  <div id='viewButtons'>
    <button
      matTooltip='Show Center of Mass'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
    >
      <mat-icon><img src="./assets/icons/centerOfMass.svg" alt=""></mat-icon>
    </button>
    <button
      matTooltip='Show ID Labels'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
      (click)="showIDLabels()"
    >
      <mat-icon><img src="./assets/icons/abc.svg" alt=""></mat-icon>
    </button>
    <button
      matTooltip='Zoom In'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
      (click)="zoomIn()"
    >
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button
      matTooltip='Zoom Out'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
      (click)="zoomOut()"
    >
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button
      matTooltip='Reset View'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
      (click)="resetView()"
    >
      <mat-icon>crop_free</mat-icon>
    </button>
  </div>
</div>

