<!-- Main container for the entire animation bar and view control UI -->
<div id='barContainer'>
  <!-- Animation control buttons: Speed, Play, Pause, Stop -->
  <div class='animationButtons'>
    <!-- Change animation speed -->
    <button id='speedButton'
            [disabled]='invalidMechanism()'
            mat-mini-fab
            matTooltip='Change Animation Speed'
            matTooltipShowDelay='500'
            (click)="toggleAnimationSpeed()"
    >
        {{animationSpeed}}x
      </button>

    <!-- Play button (shown when paused) -->
    <button class="animation-button" [disabled]='invalidMechanism()' *ngIf='this.getIsPausedAnimating()' mat-mini-fab color='primary'
            (click)="controlAnimation('play')" matTooltip='Play Animation' matTooltipShowDelay='1000'>
      <mat-icon>play_arrow</mat-icon>
    </button>

    <!-- Pause button (shown when playing) -->
    <button class="animation-button" [disabled]='invalidMechanism()' *ngIf='!this.getIsPausedAnimating()' mat-mini-fab color='primary'
            (click)="controlAnimation('pause')" matTooltip='Play Animation' matTooltipShowDelay='1000'>
      <mat-icon>pause</mat-icon>
    </button>

    <!-- Stop animation -->
    <button class="animation-button" [disabled]='invalidMechanism()' (click)="controlAnimation('stop')" mat-mini-fab color='warn'
            matTooltip='Play Animation' matTooltipShowDelay='1000'>
      <mat-icon>stop</mat-icon>
    </button>
  </div>

  <!-- Section for time input and slider -->
  <div id='animationBar'>

    <!-- Manual time input field -->
    <div id='timeInputWrapper'>
      <div id='tLabel'>T:</div>
      <form>
        <input
          [value]="invalidMechanism() ? '' : currentTimeStep"
          [disabled]='invalidMechanism()'
          (input)="onTimeStepInput($event)"
          id='animationBar-input'
          name='timestep'
          type='number'
        />
      </form>
      <span id='secLabel'>s</span>
    </div>

    <!-- Timeline slider and marker container -->
    <div class="slider-wrapper" style = "margin-top: -5px">
      <mat-slider>
        <input matSliderThumb
               [value]="sliderValue"
               [disabled]="!getIsAnimating()"
               (mousedown)="onSliderDragStart()"
               (mouseup)="onSliderDragEnd()"
               (input)="onSliderInput($event)"
               min="0"
               max="100"
               step="0.1">
      </mat-slider>

      <!-- Timeline markers for clockwise / counterclockwise direction changes -->
      <div class="timeline-marker-container">
        <div
          *ngFor="let marker of timelineMarkers"
          class="timeline-marker"
          [ngClass]="marker.type"
          [style.left.%]="marker.position"
        >
          <!-- clockwise markers -->
          <ng-container *ngIf="marker.type === 'clockwise'">
            <img
              ngSrc="assets/icons/rotateRight.svg"
              alt="Clockwise Marker"
              class="marker-svg"
              width="40" height="40" />
          </ng-container>

          <!-- counterclockwise markers -->
          <ng-container *ngIf="marker.type === 'counterclockwise'">
            <img
              ngSrc="assets/icons/rotateLeft.svg"
              alt="Counterclockwise Marker"
              class="marker-svg"
              width="40" height="40" />
          </ng-container>
        </div>
      </div>
    </div>

  </div>

  <!-- View control buttons: COM, labels, zoom, reset -->
  <div id='viewButtons'>
    <!-- Show Center of Mass -->
    <button
      matTooltip='Show Center of Mass'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
    >
      <mat-icon><img ngSrc="./assets/icons/centerOfMass.svg" alt="" height="16" width="16"></mat-icon>
    </button>

    <!-- Toggle ID labels -->
    <button
      matTooltip='Show ID Labels'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
      (click)="showIDLabels()"
    >
      <mat-icon><img [ngSrc]="currentIDLabelIcon" alt="" height="25" width="25"></mat-icon>
    </button>

    <!-- Zoom in -->
    <button
      matTooltip='Zoom In'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
      (click)="zoomIn()"
    >
      <mat-icon>zoom_in</mat-icon>
    </button>

    <!-- Zoom out -->
    <button
      matTooltip='Zoom Out'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
      (click)="zoomOut()"
    >
      <mat-icon>zoom_out</mat-icon>
    </button>

    <!-- Reset view -->
    <button
      matTooltip='Reset View'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
      (click)="resetView()"
    >
      <mat-icon>crop_free</mat-icon>
    </button>
  </div>
</div>

