<div id='barContainer'>
  <div class='animationButtons'>
    <button id='speedButton'
            [disabled]='invalidMechanism()'
            mat-mini-fab
            matTooltip='Change Animation Speed'
            matTooltipShowDelay='1000'
    >
      2x</button>

    <button class="animation-button" [disabled]='invalidMechanism()' *ngIf='this.getIsPausedAnimating()' mat-mini-fab color='primary'
            (click)="controlAnimation('play')" matTooltip='Play Animation' matTooltipShowDelay='1000'>
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button class="animation-button" [disabled]='invalidMechanism()' *ngIf='!this.getIsPausedAnimating()' mat-mini-fab color='primary'
            (click)="controlAnimation('pause')" matTooltip='Play Animation' matTooltipShowDelay='1000'>
      <mat-icon>pause</mat-icon>
    </button>
    <button class="animation-button" [disabled]='invalidMechanism()' (click)="controlAnimation('stop')" mat-mini-fab color='warn'
            matTooltip='Play Animation' matTooltipShowDelay='1000'>
      <mat-icon>stop</mat-icon>
    </button>
  </div>
  <div id='animationBar'>
    <div id='timeInputWrapper'>
      <div id='tLabel'>T:</div>
      <form #simpleForm='ngForm'>
        <input
          [disabled]='invalidMechanism()'
          id='animationBar-input'
          name='timestep'
          type='number'
          #field
        />
      </form>
      <span id='secLabel'>sec</span>
    </div>

    <mat-slider id="animate bar"
      min='0'
      max='5'
      step="0.1"
    >
      <input id='slider' matSliderThumb />
    </mat-slider>
  </div>
  <div id='viewButtons'>
    <button
      matTooltip='Show Center of Mass'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
    >
      <mat-icon><img src="./assets/icons/centerOfMass.svg" alt=""></mat-icon>
    </button>
    <button
      matTooltip='Show ID Labels'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
    >
      <mat-icon><img src="./assets/icons/abc.svg" alt=""></mat-icon>
    </button>
    <button
      matTooltip='Zoom In'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
    >
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button
      matTooltip='Zoom Out'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
    >
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button
      matTooltip='Reset View'
      matTooltipPosition='above'
      [matTooltipShowDelay]='1000'
      mat-icon-button
      color='primary'
    >
      <mat-icon>crop_free</mat-icon>
    </button>
  </div>
</div>
<div id='bottomBar' *ngIf="invalidMechanism()">
  <ul>
    <li id="DoF1">Degrees of Freedom: {{ getDegrees() }}</li>
    <li>Position: {{cursorPosition}}</li>
    <li>Units: N/A</li>
    <li>PMKS Refactor Version 1</li>
  </ul>
</div>

<div id='bottomBar' *ngIf="!invalidMechanism()">
  <ul>
    <li id="DoF2">Degrees of Freedom: 1</li>
    <li>Position:{{cursorPosition}}</li>
    <li>Units: N/A</li>
    <li>PMKS Refactor Version 1</li>
  </ul>
</div>
