
<div class="remover" *ngIf="true" (click)="closePanel($event)">

  <div class="panel panel-feedback" (click)="$event.stopPropagation()">
    <panel-section-collapsible>
      <title-block description="" class="feedbackHeader">
        <h3>Feedback</h3>
      </title-block>
    </panel-section-collapsible>

    <div class="panel-body">
      <p>
        Do you want to attach a file? Send us an email at:
        <a href="mailto:feedback@pmksplus.mech.website">feedback&#64;pmksplus.mech.website</a>
      </p>


      <textarea
        placeholder="Leave a message*"
        [(ngModel)]="message"
      ></textarea>

      <label>
        <input type="checkbox" [(ngModel)]="wantsResponse" />
        I would like a response
      </label>

      <div *ngIf="wantsResponse" class="form-group email-group">
        <input
          id="email"
          type="email"
          [(ngModel)]="userEmail"
          placeholder="your.email@example.com"
          required
          class="email-input"
        />
      </div>


      <label>
        <input type="checkbox" [(ngModel)]="sendBrowserInfo" />
        Send browser and version data
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="sendProject" />
        Send a copy of the open project
      </label>

      <button class="send-button" (click)="sendFeedback()">
        Send Message
      </button>
    </div>
  </div>
</div>
