<svg:g appInteractable [interactor]="getInteractor()">
    @if(isGround() && !isPrismatic() && !isInput()){
        <image xlink:href='../../../assets/joint/Ground.svg'
        [attr.x]="getX()-getRadius()*5.2"
        [attr.y]="getY()-getRadius()"
        [attr.height]="getRadius()*4.5"
        />
    }
    @if(isGround() && isInput() && !isPrismatic() && isCCW()) {
        <image xlink:href='../../../assets/joint/InputCCW.svg'
        [attr.x]="getX()-getRadius()*4.3"
        [attr.y]="getY()-getRadius()*2.8"
        [attr.height]="getRadius()*6.5"

        />
    }
    @if(isGround() && isInput() && !isPrismatic() && !isCCW()) {
        <image xlink:href='../../../assets/joint/InputCW.svg'
        [attr.x]="getX()-getRadius()*4.3"
        [attr.y]="getY()-getRadius()*2.8"
        [attr.height]="getRadius()*6.5"

        />
    }
    @if(!isInput() && isPrismatic()) {
        <image xlink:href='../../../assets/joint/SliderPill.svg'
        [attr.x]="getX()-getRadius()*4.6"
        [attr.y]="getY()-getRadius()*1.4"
        [attr.height]="getRadius()*3"
        [attr.transform]="'rotate(' + getAngle() + ' ' + getX() + ' ' + getY() + ')'"
        />
        <image xlink:href='../../../assets/joint/SliderTrackMid.svg'
        [attr.x]="getX()-getRadius()*11"
        [attr.y]="getY()-getRadius()*2.5"
        [attr.height]="getRadius()*5"
        [attr.transform]="'rotate(' + getAngle() + ' ' + getX() + ' ' + getY() + ')'"
        />

    }
    @if(isInput() && isPrismatic()) {
        <image xlink:href='../../../assets/joint/SliderPillInput.svg'
        [attr.x]="getX()-getRadius()*4.6"
        [attr.y]="getY()-getRadius()*1.4"
        [attr.height]="getRadius()*3"
        [attr.transform]="'rotate(' + getAngle() + ' ' + getX() + ' ' + getY() + ')'"
        />
        <image xlink:href='../../../assets/joint/SliderTrackMid.svg'
        [attr.x]="getX()-getRadius()*11"
        [attr.y]="getY()-getRadius()*2.5"
        [attr.height]="getRadius()*5"
        [attr.transform]="'rotate(' + getAngle() + ' ' + getX() + ' ' + getY() + ')'"
        />
    }


    @if(isWelded()){
      <image xlink:href='../../../assets/icons/weld.svg' class="weld-icon"
             [attr.x]="getX()-getRadius()*2+12"
             [attr.y]="getY()-getRadius()*2+12"
             [attr.height]="getRadius()*2"
      />

      <!-- OLD WELD, MEANT TO BE NEW TRACER ICON- TODO PUT INTO ADD TRACER FUNCTIONALITY
        <path
            d='M -5.5 -5.5 H-16.5 V4.5 H-5.5 V15.5 H4.5 V4.5 H15.5 V-5.5 H4.5 V-16.5 H-5.5 V-5.5 Z'
            [attr.fill]="getColor()"
            stroke="#FFCA26"
            [attr.stroke-width]="getStrokeWidth()"
            [attr.transform]="getTranslation()"
        ></path>
        -->


    }
  @if (isRef() && !this.joint.isHidden){
    <!-- Need more elegant way to do this WITHOUT using <image> -->
    <svg width="65" height="65" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"
         [attr.x]="getX()-23"
         [attr.y]="getY()-22">
    <!-- This centers it where the joints would regularly be, I don't know why -->
      <path d="M7.07 0V14M0 6.79H14M11.62 6.72C11.62 9.27156 9.55156 11.34 7 11.34C4.44844 11.34 2.38 9.27156 2.38 6.72C2.38 4.16844 4.44844 2.1 7 2.1C9.55156 2.1 11.62 4.16844 11.62 6.72Z" stroke="black"/>
    </svg>
  }
    @else {
        <svg:circle
            [attr.cx]="getX()"
            [attr.cy]="getY()"
            [attr.r]="getRadius()"
            [attr.fill]="getColor()"
            stroke="#FFCA26"
            [attr.stroke-width]="getStrokeWidth()"
        />
    }

    @if(isHovered() || isSelected() || showIDLabels) {
    <!-- Joint name -->
    <svg:text class = "joint-name"
        [attr.x]="getX()-getRadius()*3.5"
        [attr.y]="getY()- getRadius()*3"
        alignment-baseline="middle"
        text-anchor="middle">
        {{getName()}}
    </svg:text>
    }

</svg:g>
