<div class="app-synthesis-panel-container">

  <!-- SYNTHESIS PANEL TITLE SECTION -->
  <panel-section-collapsible>
      <title-block description='' class="synthesisHeader" >
        Synthesis
      </title-block>

      <!-- each synthesis type is placed in its own collapsible subsection -->

      <!-- THREE POSITION SYNTHESIS SECTION -->
      <p class ="collapsible-subsection-margin" style="margin: 5px 50px 5px 5px;"></p>
      <collapsible-subsection titleLabel='Three Position Synthesis'
                              id = "three-position-synthesis-section"
                              [expanded]="sectionExpanded['LBasic']"
                              (opened)="sectionExpanded['threePos'] = true"
                              (closed)="sectionExpanded['threePos'] = false">
      <three-pos-synthesis (Generated)="changeGeneratedCheck($event)"></three-pos-synthesis>
      </collapsible-subsection>


        <!-- Path Synthesis -->
      <collapsible-subsection titleLabel='Path Synthesis'
                              [expanded]="sectionExpanded['LBasic']"
                              (opened)="sectionExpanded['path'] = true"
                              (closed)="sectionExpanded['path'] = false">
      <path-synthesis></path-synthesis>
      </collapsible-subsection>
  </panel-section-collapsible>
</div>
